.DS_Store
bin/.DS_Store
bin/Debug/.DS_Store
bin/Debug/net5.0/Apriori.deps.json
bin/Debug/net5.0/Apriori.dll
bin/Debug/net5.0/Apriori.pdb
bin/Debug/net5.0/Apriori.runtimeconfig.dev.json
bin/Debug/net5.0/Apriori.runtimeconfig.json
bin/Debug/net5.0/ref/Apriori.dll
obj/Apriori.csproj.nuget.dgspec.json
obj/Apriori.csproj.nuget.g.props
obj/Apriori.csproj.nuget.g.targets
obj/CS412.csproj.nuget.dgspec.json
obj/CS412.csproj.nuget.g.props
obj/CS412.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/Apriori.AssemblyInfo.cs
obj/Debug/net5.0/Apriori.AssemblyInfoInputs.cache
obj/Debug/net5.0/Apriori.assets.cache
obj/Debug/net5.0/Apriori.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Apriori.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Apriori.csprojAssemblyReference.cache
obj/Debug/net5.0/Apriori.dll
obj/Debug/net5.0/Apriori.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Apriori.genruntimeconfig.cache
obj/Debug/net5.0/Apriori.pdb
obj/Debug/net5.0/ref/Apriori.dll
/.vs/CS-412/v15
/Apriori/obj/Debug/net5.0
/Apriori/obj
/SequentialPatternMining/bin
/SequentialPatternMining/obj
/SequentialPatternMiningTests
*.user
/Apriori/bin/Release/net5.0
